name: Habits Charts

on:
  schedule: [{cron: "0 */6 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  habits-charts:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: bonjour1000
          template: classic
          base: activity
          filename: right-metrics.svg
          config_timezone: Europe/Paris
          config_display: large
          
          # Habits plugin - Charts uniquement
          plugin_habits: yes
          plugin_habits_from: 1000
          plugin_habits_days: 30
          plugin_habits_facts: no
          plugin_habits_charts: yes
          plugin_habits_charts_type: classic
          plugin_habits_trim: yes

